@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Library</h1>
    <hr class="border-light"/>
    <p>Here you can add books and make reservations after logging in.</p>
</div>
